body{
  border: 20px solid #a12b51;
  margin: 20px auto;
  padding: 20px;
  max-width: 700px;
  width: 80%;
  font-family: Source Sans Pro;
}
h2{
  font-size: 2.0rem;
  color: #383234;
}
.post{
  margin-bottom: 15px;
}

.date{
  font-size: 15px;
  font-style: oblique;
  color: #03b1fc;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.open{
  border-left: 10px solid #a1849a;
  padding-left: 5px;
}

.line{

    display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0;
}
