body{
    background-color: #232323;
}
.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;   
    border-radius: 20px;
    transition: background 0.60s;
    -webkit-transition: background 0.60s;
    -moz-transition: background 0.60s;
}
.square:hover{
    transform: scale(1.02);
}
#container{
    max-width: 600px;
    margin: 20px auto;
}
body{
    margin: 0;
    font-family: "Montserrat","Avenir";
}
h1{
    color: seashell;
    background-color: #232323;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    line-height: 1.1;
    padding: 20px 0;
    text-transform: uppercase;
}
#display {
    text-align: center;
    color: black;
    height: 30px;
    background-color: snow;
}
.selected{
    background: blue;
    color: cornsilk;
}
#colorGoal{
    font-size: 200%;
}
button{
    border: none;
    background: none;
    font-family: "Montserrat","Avenir";
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 100%;
    color: steelblue;
    font-size: inherit;
    transition: all 0.45s;
    -webkit-transition: all 0.45s;
    -moz-transition: all 0.45s;
    outline: none;
}
#msg{
    display: inline-block;
    width: 20%;
}

button:hover{
    color:navy;
    background:rgb(221, 214, 133);
}